.header {
  background-color: #f0a868;

  .title {
    font-weight: 800;
  }
}

// .main-container {
//   // background-color: #c6ac8f;
//   // height: 91vh;
//   overflow: hidden;
// }

.col-4 {
  .btn-submit {
    color: #0a0908;
    border-color: #0a0908;
  }

  .btn-submit:hover {
    background-color: #0a0908;
    color: white;
  }
}

.table {
  .thead {
    background-color: #f0a868;
    // color: #eae0d5;

    th {
      border-color: #f0a868;
      text-align: center;
      vertical-align: middle;
    }
  }

  tbody {

    td,
    th {
      border-color: #22333b;
      text-align: center;
      vertical-align: middle;

      .btn-more-info {
        color: #22333b;
        border-color: #22333b;
      }

      .btn-more-info:hover {
        background-color: #22333b;
        color: white;
      }
    }
  }
}

.form-group {
  input {
    border-color: #22333b;
  }
}

.modalas {
  position: absolute;
  display: flex;
  width: 100%;
  top: -300px;
  bottom: 0px;
  z-index: -1;
}

.modalas-show {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  // opacity: 0.5;
  background-color: rgba(#eae0d5, 0.5);
}

.modalas-container {
  width: 33%;

  z-index: 1;

  // opacity: 0.5;
  .card {
    background-color: #22333b;

    .card-header {
      color: #eae0d5;
    }

    .card-body {
      background-color: #c6ac8f;
    }
  }
}

#root {
  height: 100vh;
  background-color: #FFE8C2;
}